.sidebar{
    float: left;
    grid-area: s;
   background: -webkit-linear-gradient( left, green,chartreuse );
border-radius: 10px;
    margin: 0px;
    box-shadow: lightgrey -5px 5px;
}
.search{
    text-align: center;
    height: 30px;
    padding-bottom: 3px;
    padding-top: 30px;

;
}
.search input{
    width: 75%;
    height: 20px;
    border-radius: 5px;
    /*border: #247824 2px solid;*/
    outline: none;
}
input:focus {
    border: none;

}
.span{
    color: #000000;
    margin-left: 10px;
    border-radius: 5px;
    font-family:roboto;
    padding: 5px;
    font-weight: bold;
}
.divInput{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #094b03;;
}
.divInput span{
    color: #000000;
}
.divInput input{
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;

    border-radius: 1em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;;
}

