.wheels{
    display: grid;
    grid-area: w;
    grid-template-columns: 25%  25%  25%  25% ;
    text-align: center;
}
.wheel{
    display: grid;
    background-color: rgb(209, 213, 179);
    padding: 10px;
    margin: 10px;
    box-shadow:  8px 8px 8px rgb(53,167,110);
    border-radius: 10px;
}
.wheel h5{
    padding: 0px;
    margin: 0px;
}

.wheel h2 {
    padding: 0;
    margin: 0;
}
.wheel p {
    padding: 0;
    margin: 0;
}
.hide {
    display: none;
}
.filter{
    color: #000000;
    margin-left: 10px;
    border-radius: 5px;
    font-family:roboto ;
    padding: 5px;
    font-weight: bold;
}
.divfilter{
    margin: 3px;
}

.btnFilter1{
font-weight: bold;
    font-family:roboto ;
    color: #240202;
    text-decoration: none;
    padding: .4em 0.5em ;
    border-radius: 3px;
    background: rgb(20, 231, 8);
    box-shadow:-7px -7px  7px rgb(1, 78, 12) inset;
    transition: 0.2s;
    border: none;
    margin: 3px 3px ;

    height: 30px;

}
.btnFilter{
    font-weight: bold;
    font-family:roboto ;
    color: #240202;
    text-decoration: none;
    padding: .4em 0.5em ;
    border-radius: 3px;
    background: rgb(0, 255, 42);

    transition: 0.2s;
    border: none;
    margin: 0 3px ;

    height: 100%;
}
.btnFilter:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
    outline: none;
    border: none;
}

.btnFilter:hover {
    background: rgb(53, 167, 110);
    outline: none;
    border: none;
}
.marka{
    font-family: monospace ;
    color: #002566;
    font-size: 30px;
    /*border: 3px solid #9eea9e;*/
    /*border-radius: 12px;*/
    font-style: italic;


}
.marka:active{
    color: #100000;
}
.marka:hover{
    color: #000105;
}
.divcart1{
color: #b81318;
    font-weight: bold;
    font-size: 27px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #0071fc;
    text-align: center;
    margin-left:auto;
    position: relative;
    margin-bottom:-45px;
    top: -250px;
    left: -5px;

    box-shadow: -5px  -5px  5px rgb(53, 99, 167) inset;
}

.img{
    padding: 3px;
}
.btnFilterplusminus{
    font-family:roboto ;
    color: #240202;
    text-decoration: none;
    padding: .4em 0.5em ;
    border-radius: 5px;
    background: rgb(20, 231, 8);
    box-shadow:-7px -7px  7px rgb(1, 78, 12) inset;
    transition: 0.2s;
    margin: 0 3px ;
    width: 30px;
    height: 30px;
    border: none;
}

.inforadius{
    color: #00219a;
    font-family:roboto ;
    font-size: 20px;
    font-weight: bold;


}

.infoprice{
    font-family:roboto ;
    font-size: 30px;
    border: 2px solid #08d405;
    border-radius: 5px;
    color: red;
}
.stringinfo{
    color: #00219a;
    font-family:roboto ;
    font-size: 20px;
    font-weight: bold;

}