.wheels{
    display: grid;
    grid-area: w;
    grid-template-columns: 25%  25%  25%  25% ;
    text-align: center;
}
.wheel{
    background-color: #4aff36;
    padding: 10px;
    margin: 10px;
    box-shadow:  8px 8px 8px rgb(53,167,110);
    border-radius: 10px;
}
.wheel h2 {
    padding: 0;
    margin: 0;
}
.wheel p {
    padding: 0;
    margin: 0;
}
.hide {
    display: none;
}
.filter{
    color: #000000;
    margin-left: 10px;
    border-radius: 5px;
    font-family:roboto ;
    padding: 5px;
    font-weight: bold;
}
.divfilter{
    margin: 3px;
}
.btnFilter{

    font-family:roboto ;
    color: #240202;
    text-decoration: none;
    padding: .4em 0.5em ;
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow:-3px -3px rgb(53,167,110) inset;
    transition: 0.2s;
    border: none;
    margin: 0 10px ;
}
.btnFilter1{

    font-family:roboto ;
    color: #240202;
    text-decoration: none;
    padding: .4em 0.5em ;
    border-radius: 3px;
    background: rgb(202, 250, 243);
    box-shadow:-3px -3px  5px rgb(12, 88, 45) inset;
    transition: 0.2s;
    border: none;
    margin: 0 3px ;
}
.btnFilter:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
    outline: none;
    border: none;
}

.btnFilter:hover {
    background: rgb(53, 167, 110);
    outline: none;
    border: none;
}

