.header {
  grid-area: n;
  text-align: center;
  display: grid;

  margin: 0px;
  padding: 0px;
}

/* .header {
  grid-area: n;
  text-align: center;
  display: grid;

  margin: 0px;
  padding: 0px;
}
 */
