.footer{
    grid-area: f;
    border-radius: 10px;
    background: -webkit-linear-gradient( left, #03e003,greenyellow, #fcee00);
    display: flex;
}

.footer h5 {
    margin: 2px;
    padding: 2px;
}
.footer span{

}