.menu{
    grid-area: m;
    padding: 0px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  1fr 1fr;
}

.active{
    font-weight: bold;
}
.link{
    /*font-size: 22px;*/
    text-decoration: none;
margin: 5px;
}

.link {
    color: white;
    font-size: 20px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    color: black;
    border-radius: 10px;
    box-shadow: lightgrey 0px 8px;
    background-color: rgb(73, 52, 19);
}




