.header {
  background-color: #e2efe0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0px;
  padding: 0px;
}
.button1 {
  background-color: greenyellow;
  border-radius: 5px;
  border: none;
}
.button1:active,
.button1:focus {
  border: none;
}
.button1:hover {
  border: none;
}
.user {
  text-decoration: inherit;
}

.img {
  grid-column: 2;
}

.cartlogin {
  grid-column: 3;
  text-align: right;
}
a {
  text-decoration: none;
}

.divcart {
  color: white;
  width: 25px;
  height: 25px;
  background-color: rgb(32, 32, 31);
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
}
