.App {

  display: grid;
  grid-template-areas:
  'h h'
  's m'
  's w'
  'f f';

  grid-template-columns: 1fr 5fr ;
  grid-template-rows: 150px 40px 100% 30px ;
  padding: 0px 10px;


}
body{
  background-color: #e2efe0;
}
/*.header{*/
/*  grid-area: h;*/
/*  background-color: aqua;*/


/*}*/
/*.menu{*/
/*  grid-area: m;*/
/*  background-color: chartreuse;*/

/*}*/
/*.sidebar{*/
/*  grid-area: s;*/
/*  background-color: darkgoldenrod;*/

/*}*/
/*.footer{*/
/*  grid-area: f;*/
/*  background-color: orangered;*/

/*}*/
/*.wheels{*/
/*  grid-area: w;*/
/*  background-color: darkblue;*/

/*}*/


