.App {

  display: grid;
  grid-template-areas:
  'n n'
  'h h'
  's m'
  's w'
  'f f';

  grid-template-columns: 1fr 5fr ;
  grid-template-rows:100px 270px  40px 100% 1fr;
  padding: 0px 10px;


}




